@use "sass:math";

@mixin lineclamp() {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

@mixin scrollbars() {
  // For Chrome & Safari
  &::-webkit-scrollbar {
    inline-size: 16px;
    block-size: 16px;
  }
  &::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: var(--color-accent);
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-corner {
    opacity: 0;
  }

  // Standard version (Firefox only for now)
  scrollbar-color: var(--color-accent) transparent;
  scrollbar-width: thin;
}
