@use 'reset';
@use 'theme';
@use 'mixins';

body {
  background: linear-gradient(to bottom, rgba(10, 17, 27, 1) 0%,rgba(28, 44, 60, 1) 100%);
  color: var(--color-text);
  padding: .5rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

.news-container {
  max-inline-size: 600px;
  block-size: 100%;
  display: flex;
  flex-direction: column;

  .articles {
    overflow: auto;

    @include mixins.scrollbars();
  }
}
