---
import NavigationPage from '../components/NavigationPage.astro';
import TableEarnings from '../components/tables/TableEarnings.astro';
import Layout from "../layouts/Layout.astro";
import type { EarninigsCalendarResponse } from '../types/earnings-calendar';
import EPSDataContainer from '../vue/EPSDataContainer.vue';

const earningsCalendar = await (await fetch('https://giga-stonks-api.shuttleapp.rs/api/v1/earnings-calendar')).json() as EarninigsCalendarResponse;
---

<Layout title="Giga Stonks | Earnings Calendar">
  <header>
    <NavigationPage />
  </header>

  <main>
    <div class="tables">
      <TableEarnings
        class={'estimates-high'}
        earningsData={earningsCalendar.estimates_high}
        title="High Estimate Earnings"
      />
      <TableEarnings
        class={'estimates-low'}
        earningsData={earningsCalendar.estimates_low}
        title="Low Estimate Earnings"
      />
    </div>
    <EPSDataContainer client:load />
  </main>
</Layout>

<style lang="scss">
@use "../styles/mixins" as *;

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: .5rem;
  min-block-size: 0;
}

.tables {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: .5rem;
  min-block-size: inherit;
}

.table-earnings {
  overflow-y: scroll;
  @include scrollbars;
}

:global(body) {
  display: grid;
}

:global(.navigation-page) {
  max-inline-size: 624px;
}
</style>
