---
import NavigationPage from '../components/NavigationPage.astro';
import Layout from "../layouts/Layout.astro";
---

<Layout title="Giga Stonks - Overview">
  <main>
    <NavigationPage />
  </main>
</Layout>

<style></style>
