---
import NavigationPage from '../components/NavigationPage.astro';
import MarketNews from '../components/news/MarketNews.astro';
import NewsSentiment from '../components/news/NewsSentiment.astro';
import QuotesDJIA from '../components/quotes/QuotesDJIA.astro';
import Layout from "../layouts/Layout.astro";
---

<Layout title="Giga Stonks - Overview">
  <main class="markets-overview">
    <div class="col col-markets">
      <NavigationPage />
      <div class="markets">
        <QuotesDJIA />
        <QuotesDJIA />
      </div>
    </div>
    <div class="col">
      <NewsSentiment />
    </div>
    <div class="col">
      <MarketNews />
    </div>
  </main>
</Layout>

<style lang="scss">
.markets-overview {
  block-size: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  > * {
    flex-basis: 600px;
    flex-grow: 1;
  }
}

.col {
  block-size: 100%;
}

.col-markets {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.markets {
  overflow: hidden;
  flex-grow: 1;
  display: grid;
  grid-template-rows: 50% 50%;
}
</style>
