---
import NavigationPage from '../components/NavigationPage.astro';
import MarketNews from '../components/news/MarketNews.astro';
import NewsSentiment from '../components/news/NewsSentiment.astro';
import QuotesDJIA from '../components/quotes/QuotesDJIA.astro';
import QuotesNASDAQ from '../components/quotes/QuotesNASDAQ.astro';
import Layout from "../layouts/Layout.astro";
import type { MarketStatus } from '../types/market-status';

const marketStatus = await (await fetch('https://giga-stonks-api.shuttleapp.rs/api/v1/market-status')).json() as MarketStatus[];
const marketStatusUS = marketStatus.find(status => status.region === "United States") as MarketStatus;
---

<Layout title="Giga Stonks - Overview">
  <main class="markets-overview">
    <div class="col col-markets">
      <NavigationPage />
      <div class="markets">
        <QuotesDJIA openStatus={marketStatusUS?.current_status ?? 'closed'}/>
        <QuotesNASDAQ openStatus={marketStatusUS?.current_status ?? 'closed'}/>
      </div>
    </div>
    <div class="col">
      <NewsSentiment />
    </div>
    <div class="col">
      <MarketNews />
    </div>
  </main>
</Layout>

<style lang="scss">
.markets-overview {
  block-size: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  > * {
    flex-basis: 600px;
    flex-grow: 1;
  }
}

.col {
  block-size: 100%;
}

.col-markets {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.markets {
  overflow: hidden;
  flex-grow: 1;
  display: grid;
  grid-template-rows: 50% 50%;
  gap: .5rem;
}
</style>
