---
import Logo from './Logo.astro';

---

<nav class="navigation-page">
  <a class:list={['link-home']} href="/" title="Giga Stonks Home">
    <Logo />
  </a>
</nav>

<style lang="scss">
.link-home {
  display: inline-block;
}
</style>
