---
import Logo from './Logo.astro';

---

<nav class="navigation-page">
  <a class:list={['link-home']} href="/" title="Giga Stonks Home">
    <Logo />
  </a>
  <div class="links">
    <a class:list={['link-chart']} href="/chart">Chart</a>
    <a class:list={['link-earnings-calendar']} href="/earnings-calendar">Earnings Calendar</a>
    <a class:list={['link-about']} href="/about">About</a>
  </div>
</nav>

<style lang="scss">
.navigation-page {
  display: flex;
  margin-block-end: .5rem;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  gap: .5rem;
}

.link-home {
  display: inline-block;
}
</style>
