---
import Container from "../container/Container.astro";

interface MarketNewsArticle {
  headline: string;
  category: string;
  datetime: number;
  id: number;
  image: string;
  source: string;
  summary: string;
  url: string;
}

const marketNews = await (await fetch('https://giga-stonks-api.shuttleapp.rs/api/v1/market-news')).json() as MarketNewsArticle[];
---

<Container outlined={true} class="market-news news-container">
  <h2>Market News</h2>
  <hr>
  <p class="article-count">{marketNews.length} Articles</p>
  {marketNews[0].category}
</Container>

<style lang="scss">

hr {
  border-style: solid;
  border-color: var(--color-accent);
}

.article-count {
  text-align: end;
  margin-block: 1rem;
}
</style>
